:root, [theme=dark] {
    --ws-blue: #5fc3f3;
    --ws-indigo: #6610f2;
    --ws-purple: #6f42c1;
    --ws-pink: #d63384;
    --ws-red: #dc3545;
    --ws-orange: #fd7e14;
    --ws-yellow: #ffc107;
    --ws-green: #198754;
    --ws-teal: #20c997;
    --ws-cyan: #0dcaf0;
    --ws-black: #000;
    --ws-white: #ffffff;
    --ws-gray: #6c757d;
    --ws-gray-dark: #343a40;
    --ws-gray-100: #f8f9fa;
    --ws-gray-200: #e9ecef;
    --ws-gray-300: #dee2e6;
    --ws-gray-400: #ced4da;
    --ws-gray-500: #adb5bd;
    --ws-gray-600: #6c757d;
    --ws-gray-700: #495057;
    --ws-gray-800: #343a40;
    --ws-gray-900: #212529;
    --ws-primary: #ffffff;
    --ws-secondary: #0f243c;
    --ws-success: #198754;
    --ws-info: #0dcaf0;
    --ws-warning: #ffc107;
    --ws-danger: #dc3545;
    --ws-light: #f8f9fa;
    --ws-dark: #0f243c;
    --ws-dark-active: #578ecd;
    --ws-rank1: #0f243c;
    --ws-rank2: #2c4b6e;
    --ws-rank3: #4f76a3;
}